.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0 0;
  z-index: 1;
  max-width: 360px;
  height: 66px;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: calc(100vw * (14 / 320));
    line-height: calc(100vw * (16 / 320));
    margin: 16px 0 0 0;
  }
}
