.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 290px;
    font-size: 14px;
    line-height: 1.14;
  }
}
