.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
  padding-top: 28px;
  margin: 0 48px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 28px 48px 0;
  }
}


@media screen and (max-width: 1024px) {
  .header {
    padding: 0 48px;
  }  
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    margin: 0 16px;
    padding-top: 16px;
  }
}