.footer__links{
    margin: 0;
    padding: 0;
    margin-right: 18px;
  }
  
  .footer__links:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
  
  @media screen and (max-width:750px) {
    .footer__links {
      margin-bottom: 32px;
    }
  }