.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 750px) {
  .footer__copyright {
    margin-top: 48px;
    line-height: 1;
  }
}
