.cover {
  max-width: 1184px;
  padding-top: 92px;
  min-height: 740px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .cover {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width:1279px) {
  .cover {
    width: 100%;
    margin: 92px auto 0;
  }
}

@media screen and (max-width:1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: calc(100vw * (90 / 768));
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: calc(100vw * (66 / 320));
  }
}
