.header__lang-links {
  column-gap: 18px;
  align-items: flex-end;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 6px;
}

@media screen and (max-width: 1280px) {
  .header__lang-links {
    margin: 18px 0 6px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 1.18;
    margin-bottom: 8px;
  }
}
