.header__lang-links {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 18px;
  align-items: flex-end;
  list-style: none;
  line-height: 0;

  padding: 0;
  margin: 18px 0 6px 0;
}

@media screen and (max-width: 1280px) {
  .header__lang-links {
    margin: 18px 0 6px 0;
    column-gap: 18px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 1.18;
  }
}
